<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi, <%= @user.name %></h1>
        <p>
            The car (Plate Number: <%= @car.licensePlateNumber %>) that you are waiting for is avaiable now. You can make a reservation now.
            Your login email is: <%= @user.email %>.<br>
        </p>
        <p>Thanks for joining and have a great day!</p>
    </body>
</html>